<div class="header pb-6">
	<div class=" container-fluid">
		<div class=" header-body">
			<div class=" row align-items-center py-4">
				<div class=" col-lg-6 col-7">
					<h6 class=" h2 text-dark d-inline-block mb-0">Bank Detail</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-chart-pie text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="h3 mb-0">Basic Information</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Bank Name</label>
                                <input class="form-control" value="Affin Bank Berhad" disabled>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Tel No.</label>
                                <input class="form-control" value="+603 2055 900" disabled>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Address</label>
                                <textarea class="form-control" value="Affin Bank Berhad, 17th floor, Menara Affin 80, Jalan Raja Chulan, 50200 Kuala Lumpur" disabled>
                                </textarea>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Institution</label>
                                <input class="form-control" value="Commercial Bank" disabled>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Date Registered</label>
                                <input class="form-control" value="1 April 2006" disabled>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">About</label>
                                <textarea class="form-control" value="The AFFIN Bank Group is a financial services conglomerate. The AFFIN Bank Group's activities focus on commercial, Islamic and investment banking services." disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">FIS Revenue (In Million)</th>
                                <th scope="col">Month</th>
                                <th scope="col">FY 2019</th>
                                <th scope="col">FY 2018</th>
                                <th scope="col">FY 2017</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">Forth Quarter</th>
                                <td>December</td>
                                <td>3342.00</td>
                                <td>3342.00</td>
                                <td>3342.00</td>
                            </tr>
                            <tr>
                                <th scope="row">Third Quarter</th>
                                <td>September</td>
                                <td>2822.00</td>
                                <td>2822.00</td>
                                <td>2822.00</td>
                            </tr>
                            <tr>
                                <th scope="row">Second Quarter</th>
                                <td>June</td>
                                <td>1981.00</td>
                                <td>1981.00</td>
                                <td>1981.00</td>
                            </tr>
                            <tr>
                                <th scope="row">First Quarter</th>
                                <td>March</td>
                                <td>2012.00</td>
                                <td>2012.00</td>
                                <td>2012.00</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td>8176.00</td>
                                <td>8176.00</td>
                                <td>8176.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="chart">
                    <div id="chartdiv" style="width: 100%; height: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>